/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	modalTransparencyBlur: 3;
	modalTransparency: 0.75;
	modalTransparencyDuration: 300;
}